h1 {
    text-align: center;
    font-size: 30px;
}

.container {
    max-width: 1000px;
}

.row {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.grassTile {
    height: 220px;
    width: 100%;
    border: 3px solid white;
}

.robot {
    position: absolute;
    padding: 0;    
    height: 200px;
    margin-top: -210px;
    background-image: url(../images/robot.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-size: contain;
}

.robot.right {
    background-image: url(../images/robot_right.png);
}

.robot.left {
    background-image: url(../images/robot_left.png);
}

.robot.back {
    background-image: url(../images/robot_back.png);
}

.displayNone {
    display: none;
}
