body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.container {
    max-width: 1000px;
}

.row {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.grassTile {
    height: 220px;
    width: 100%;
    border: 3px solid white;
}

.robot {
    position: absolute;
    width: 300px;
    height: 200px;
    margin-top: -210px;
}
