h1 {
    text-align: center;
    font-size: 30px;
    margin: 0 10px 0 0;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    text-align: center;
}

.container {
    max-width: 1000px;
}

.row {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.grassTile {
    height: 220px;
    width: 100%;
    border: 3px solid white;
}

.content {
    margin-bottom: 20px;
}

.robot {
    position: absolute;
    padding: 0;    
    height: 200px;
    margin-top: -210px;
    background-image: url(../images/robot_forward.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-size: contain;
    z-index: 20;
}

.robot.right {
    background-image: url(../images/robot_right.png);
}

.robot.left {
    background-image: url(../images/robot_left.png);
}

.robot.back {
    background-image: url(../images/robot_back.png);
}

.goal {
    position: absolute;
    padding: 0;
    height: 200px;   
    background-image: url(../images/gift.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-size: contain;
    z-index: 10;
}

.goal.row1 {
    margin-top: -650px;
}

.goal.row2 {
    margin-top: -430px;
}

.goal.row3 {
    margin-top: -210px;
}

.displayNone {
    display: none;
}
